body {
    /* Remove default class styling */
    all: unset;
}

header {
    padding: 0;
}

.header__nav-item.current-menu-item > .header__nav-link {
    color: #f9ab00;
}

.header__search {
    display: none;
    position: relative;
}

.header__search.active {
    display: flex;
}

.header__search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header__search-button,
.header__search-close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 18px;
}
